.app-layout-container {
  display: flex;
}

// TODO: center what ever user pass
.drawer-header-content {
  text-align: center;
}

.header-layout-container {
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
}

.toolbar {
  flex-grow: 1;
}

.hamburger-button {
  font-size: 1.6rem;
  line-height: 3.6rem;
  margin: auto 5px;
}

.content {
  padding: 1rem;
}
