language: java
sudo: required
env:
  - NODE_VERSION=6
jdk:
  - oraclejdk8
addons:
  firefox: latest
  sauce_connect: true
before_install:
  - nvm install $NODE_VERSION
  - nvm alias $NODE_VERSION
  # Repo for newer Node.js versions
  - curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -
  # Repo for Yarn
  - travis_retry sudo apt-key adv --keyserver pgp.mit.edu --recv D101F7899D41F3C3
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
cache:
  directories:
  - $HOME/.yarn-cache
install:
  - yarn
script:
  - yarn test
deploy:
  skip_cleanup: true
  provider: script
  script:
    - toolbelt/publish-and-deploy.sh
  on:
    branch: master
