<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blaze WC elements catalogue</title>
</head>
<body class="c-text">

  <a href="https://github.com/wc-catalogue/blaze-elements"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

  <header>
    <img alt="Blaze Elements Logo" src="https://wc-catalogue.github.io/blaze-elements/blaze-elements-logo.svg" width="400">
    <p><a href="http://blazecss.com/">Blaze CSS</a> wrapped using <a href="http://webcomponents.org/">Web Component</a></p>
  </header>

  <% for(var i=0; i < htmlWebpackPlugin.options.packages.length; i++) {%>
  <p style="position:relative">
    <bl-<%= htmlWebpackPlugin.options.packages[i] %>-demo></bl-<%= htmlWebpackPlugin.options.packages[i] %>-demo>
  </p>
  <% } %>
</body>
</html>
