@import "../generics.shared";
@import '~blaze/scss/components.lists';

:host {
  counter-increment: a;
}

li{
  color: red;
  content: counters(a, ".") " ";
}

:host::before {
  color: blue;
  content: counters(a, ".") " ";
  display: block;
  float: left;
  padding-right:.5em;
}

